<h1>Editing friend</h1>

<% form_for(@friend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @friend %> |
<%= link_to 'Back', friends_path %>