<h1>Editing opening</h1>

<% form_for(@opening) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :move_queue %><br />
    <%= f.text_area :move_queue %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @opening %> |
<%= link_to 'Back', openings_path %>