<p>
  <b>Name:</b>
  <%=h @tutorial.name %>
</p>

<p>
  <b>Move queue:</b>
  <%=h @tutorial.move_queue %>
</p>

<p>
  <b>Body:</b>
  <%=h @tutorial.body %>
</p>


<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>