.html.haml
!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    %title= "Raulzito - { #{controller.controller_name.capitalize} }"
    = stylesheet_link_tag 'application', 'icons', 'theme/style'
    = stylesheet_link_tag 'screen', 'typography', :media => 'screen, projection'
    //= stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'

    = javascript_include_tag 'jquery' , 'application', 'board_action'
    = content_for :head
  %body
    #container
      #header
        %h1= image_tag "layout/logo.png"
        #user-navigation
          %ul
            %li= link_to "Home", "/"
            %li= link_to "Notícias", "/articles"
            - if current_user
              %li= link_to "Mensagens", "/inbox"
              %li= link_to "Opções", "/"
              %li= link_to "Sair", '/logout'
            - else
              %li= link_to "Signup", "/signup"
              %li= link_to "Login", "/login"
          .clear
        - if current_user
          #user-drop-navigation
            %input{:id => "search", :name => "search[query]", :size => "18", :type => "text" }
            //= image_tag "icons/magnifier.png"
            = submit_tag "Buscar", :class => :searchbutton
          #main-navigation
            %ul
              %li{:class => "first active" }
                = link_to 'Home', "/", :class =>"icon ihome"
                %ul.submenu2
                  %li
                    %ul
                      %li Opções do usuário:
                      %li= link_to "Minha conta", "#"

              %li= link_to 'Jogos', "/matches", :class =>"icon phone"
              %li= link_to 'Campeonatos', "/tournaments", :class =>"icon phone"
              %li= link_to 'Aberturas', "/openings", :class =>"icon phone"
              %li= link_to 'Tutoriais', "/tutorials", :class =>"icon phone"
              %li= link_to 'Stats', "/stats", :class =>"icon maps"
              %li= link_to 'Amigos', "/friends", :class =>"icon icard_address"

      #wrapper
        = display_flashes
        #main= yield
        #sidebar
          = yield :sidebar
        .clear
      #footer
        .block
          Raulzito BETA
          %a{ :href => "http://fireho.com" }= image_tag('../images/icons/fireho.png', :class=>'img')
          %a{ :href => "http://fireho.com" } fireho.com &copy; 2009
          |
          todos os direitos reservados




    //<script>
    //  PeriodicalExecuter.prototype.registerCallback = function() {
    //    this.intervalID = setInterval(this.onTimerEvent.bind(this), this.frequency * 1000);
    //  }
    //
    //  PeriodicalExecuter.prototype.stop = function() {
    //    clearInterval(this.intervalID);
    //  }
    //</script>
